body {
    margin-left: 20px;
    margin-right: 20px;
}

.container {
  position: relative;
  text-align: center;
}

.container img{
    max-width: 100%;
    height: auto;
    width: auto\9;
    opacity: 0.7;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 30px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: fantasy;
  font-size: 100px;
  color:white;
  transform: translate(-50%, -50%);
}

#second-nav {
    background-color: lightgray;
    display: flex;
    position:relative;
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}
#second-nav a {
    height: 50px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #687864;
}
#second-nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

hr {
    width: 75%;
    border: 1.5px solid lightgray;
    border-radius: 50%;
}
 
.Container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #31708E;
}
h5{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    color: #5085A5;
}
p{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

#navbar {
    background-color: darkolivegreen;
    display: flex;
}

#navbar a {
    height: 50px;
    flex: 1;
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar a:hover {
    background-color: #36451e;
    color: #222222;
}

footer {
    background-color: darkolivegreen;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  margin-right: 20px;
}

footer a {
    margin: 0 5px;
    text-decoration: none !important;
}

.social-icon {
    background-color: white;
    color: darkolivegreen;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.social-icon:hover {
    color: #222222;
}

#go-top-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom:70px;
    right:20px;
    opacity: 0.7;
    z-index: 99;
    display: none;
    background-color: darkolivegreen;
    border-color: #222222;
}

#go-top-button:hover {
    opacity: 1;
}


@media only screen and (min-width: 320px) {
    .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: fantasy;
  font-size: 50px;
  color:white;
  transform: translate(-50%, -50%);
}
h2{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #31708E;
}
h5{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
    color: #5085A5;
}
p{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}
}

@media only screen and (min-width: 768px) {
    .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: fantasy;
  font-size: 75px;
  color:white;
  transform: translate(-50%, -50%);
}
h2{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #31708E;
}
h5{
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 30px;
    color: #5085A5;
}
p{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
}

}

@media only screen and (min-width: 980px) {
    .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: fantasy;
  font-size: 100px;
  color:white;
  transform: translate(-50%, -50%);
}
h2{
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #31708E;
}
h5{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    color: #5085A5;
}
p{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}
}
